.Search {
  max-width: 1550px;
  margin: 0 auto;
}

.Search__search-bar {
  width: 100%;
  margin: 10px;
  padding: 8px;
  border: 2px solid #ccc;
  border-radius: 2px;

  &:hover { border-color: $lightblue; }
  &:active, &:focus { border-color: $darkblue; }
}

.Search__filters {
  margin: 20px 10px 30px 10px;
}

.Search__filter {
  display: inline-block;
  min-width: 100px;
  text-align: center;
  padding: 10px;
  border: 1px solid $lightblue;
  border-radius: 25px;
  text-decoration: none;
  color: #999;

  &:hover, &:active { border-color: $olive; }
}

.Search__filter--selected {
  background-color: $lightblue;
  color: #fef;

  &:hover, &:active { background-color: $olive; }
}
